@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root{}

body {
	text-align: center;
}

h1,h2,h3,h4,h5,h6,p{font-family: 'Rajdhani', sans-serif;}

.background {
	background: darkgray url("images/wall.jpg") no-repeat fixed center;
	background-attachment: fixed;
	background-size: cover;
}
.navbar {
	text-align: center;
	width: 100%;
	background-color: #00122e;
	overflow: auto;
	float: center;
	margin-top: -10px;
	border-radius: 0px 0px 10px 10px;
	border: 2px solid;
}

.navbar a {
	font-family: monospace;
	float: left;
	text-align: center;
	padding: 12px;
	color: #3bb7ff;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover:not(.active):not(.exclude){
	background-color: #002d63;
}

.active {
	background-color: #0094eb;
	color:white!important;
	font-weight: bold
}

@media screen and (max-width: 440px) {
	.navbar a {
		float: none;
		display: block;
	}
}

.logo{
	position:absolute;
	top:7px;
	right:10px;
	pointer-events: auto;
	height:32px;
}

#icon-alt{
	font-size: 10px;
	position: absolute;
	bottom: 2px;
	top:4px;
	max-height:0px;
}

button {
	background-color: #0094eb; /* Green */
	border: 3px solid #002d63;
	border-radius:20px;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
button:hover{
	background-color: #3bb7ff;
	border: 3px solid #0094eb;
}
.text-version{
    font-size: 1.3vw;
	color:#30c7ff;
}
.text-version-alt{
	color: #30c7ff;
}
.clickwebgame{
	color:lightblue;
}
.download-url{
	color:#2be040;
}
