@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

h1,h2,h3,p{font-family: 'Rajdhani', sans-serif;}

.background {
	background: darkgray url("images/wall.jpg") no-repeat fixed center;
	background-attachment: fixed;
}
 /* Style the navigation bar */
.navbar {
  text-align: center;
  width: 100%;
  background-color: #00122e;
  overflow: auto;
  float: center;
  margin-top: -10px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #3bb7ff;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover:not(.active){
  background-color: #002d63;
}

/* Current/active navbar link */
.active {
  background-color: #0094eb;
  color:white!important;
  font-weight: bold
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.logo{
	position:absolute;
	top:7px;
	right:10px;
}
#icon-alt{
	font-size: 10px;
	position: absolute;
	bottom: 2px;
	top:4px;
	max-height:0px;
}
.unclickable:not(.logo){
    position:relative;
}
.blocked:after{
    content: '';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:1;
    background: transparent;
}